<footer class="footer">
  <div class="footer__inner">
    {{ partial "giscus.html" . }}
  </div>
  <div class="not-by-ai">
    <a href="https://notbyai.fyi" target="_blank" rel="noopener">
      <img
        src="/images/Written-By-a-Human-Not-By-AI-Badge-black.svg"
        alt="Written by a Human, Not by AI"
      >
    </a>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}

{{ $bundle := slice $menu $prism | resources.Concat "bundle.js" | resources.Minify }}

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
